@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

body {
    background: linear-gradient(.25turn, #fafafa, #e0e0e0, #e0e0e0, #fafafa);
    font-family: sans-serif, Arial;
}

.header {
    margin: auto;
    width: 100%;
    height: 100%;
}

.header_image {
    width: 125%;
    height: 25rem;
    margin-left: -.8rem;
    margin-top: -.8rem;
}

.section_separator {
    margin: auto;
    background-color: black;
    box-shadow: -1px -3px 6px 6px black;
    width: 102%;
    margin-left: -1%;
    height: 4em;
}

.navegation {
    padding-top: .8rem;
    margin: auto;
    width: 100%;
}

td {
    position: relative;
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.main_blog {
    width: 40%;
}

.prev_blog {
    margin: auto;
    width: 30%;
}

.next_blog {
    margin: auto;
    width: 30%;
}

h2 {
    margin-left: 1rem;
    margin-bottom: -.5rem;
}

.date {
    margin-left: 3rem;
    font-size: 12px;
    margin-bottom: -1rem;
}

.title_metadata {
    font-size: 12.5px;
    text-align: right;
    margin-right: 3rem;
}

h3 {
    margin-left: 2rem;
}

.entry {
    margin: auto;
    width: 60%;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
